<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="alternate" type="application/rss+xml"  href="http://gparuthi.com/feed.xml" title="Gaurav Paruthi RSS Feed">

    <title>{{ site.name }} | {{ page.title }}</title>

    <script src="http://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    


    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>

       <link rel="stylesheet" media="all" href="/css/mine.css" />

    
   
    <!-- Any other scripts or anything that the page may want. -->
    {% if page.head %}
    {{ page.head }}
    {% endif %}
    

    <script type="text/javascript">
    function call_event(event){
        ga('send', {
          "hitType": 'event',
          "eventAction": 'click',
          "eventLabel": event,
        });
    }

    $(document).ready(function() {
        call_event({'target':null});
        document.addEventListener('click', call_event, false);
    });

    </script>

</head>