{% if page.publications %}
## Publications
{% for publication in page.publications %}
<div class="mdl-grid publication">
    <div class="mdl-cell mdl-cell--3-col"><img src="{{ publication[1].image }}" width="100%" /></div>
    <div class="mdl-cell mdl-cell--9-col">
    <span  markdown="1">{{ publication[1].info }} </span>
    {% if publication[1].file %}
   	 <span><a href="{{ publication[1].file }}">[PDF]</a></span>
    {% endif %}
    </div> 
    <br>

</div>
{% endfor %}
{% endif %}
{% include peoples_urls.md %}