<!doctype html>
<html>
{% include head.html %}

<body lang="en">
    <div class="container">
        {% if page.url != '/' %}
        <div class="smaller_container">
            {% endif %}
            <div class="header">
                {% if page.url != '/' %}
                <p>
                    <a href="/" rel="author">
                        <i class="fa fa-th"></i>
                        {{ site.name }}
                    </a>
                </p>
                <h1>{{ page.title | markdownify | strip }}</h1>


                {% endif %}
            </div>

            <div class="content">
                {% if page.url != '/' %}
                <aside>

                </aside>
                {{ content }}
                {% else %}
                {{ content }}
                {% endif %}
            </div>

            {% if page.comments %}
            {% include comments.html %}
            {% endif %}

            <hr />
            <div class="footer"> Updated {{ site.time | date_to_string }} | <a href="//www.intecolab.com">Interaction Ecologies</a> | <a href="//doiiit.github.io">DoIIIT</a> | <a href="//si.umich.edu">School of Information</a> | <a href="//www.umich.edu">University of Michigan</a></div>
        </div>
        {% if page.url != '/' %}
    </div>
    {% endif %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdn.jsdelivr.net/riot/3.3.2/riot+compiler.min.js"></script>
<script src="/js/projects.tag" type="riot/tag"></script>

<script type="text/javascript">
    $(function() {
        riot.mount('projects');
    });
</script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-18031723-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
