<!doctype html>
<html>
{% include head.html %}

<body lang="en">
    <div class="container">
        {% if page.url != '/' %}
        <div class="smaller_container">
            {% endif %}
            <div class="header">
                {% if page.url != '/' %}
                <p>
                    <a href="/" rel="author">
                        <i class="fa fa-th"></i>
                        {{ site.name }}
                    </a>
                </p>
                <h1>{{ page.title | markdownify | strip }}</h1>


                {% endif %}
            </div>

            <div class="content">
                {% if page.url != '/' %}
                <aside>

                </aside>
                {{ content }}
                {% else %}
                {{ content }}
                {% endif %}
            </div>

            {% if page.comments %}
            {% include comments.html %}
            {% endif %}

            <hr />
            <div class="footer"> Updated {{ site.time | date_to_string }} | <a href="//si.umich.edu">School of Information</a> | <a href="//www.umich.edu">University of Michigan</a></div>
        </div>
        {% if page.url != '/' %}
    </div>
    {% endif %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdn.jsdelivr.net/riot/2.3/riot+compiler.min.js"></script>
<script src="/js/projects.tag" type="riot/tag"></script>
<script type="text/javascript">
    $(function() {
        riot.mount('projects');
    });
</script>
</body>
</html>
